<!--
⭐ about TEMPLATE VARIABLES:
by default, you get access to the dom element,
but if you're putting the template variable on one of your components,
then you'll get access to the component instance, instead

example:
* titleInput: HTMLInputElement
* btn: ButtonComponent
-->

<!-- <form (ngSubmit)="onSubmit(titleInput)"> -->
<form (ngSubmit)="onSubmit(titleInput.value, textInput.value)">
  <app-control label="Title">
    <input type="text" name="title" id="title" #titleInput />
    <!-- #titleInput is a template variable  -->
  </app-control>
  <app-control label="Request">
    <textarea
      type="text"
      name="request"
      id="request"
      rows="3"
      #textInput
    ></textarea>
  </app-control>
  <p>
    <button appButton #btn>
      Submit
      <span ngProjectAs="icon">🚀</span>
      <!-- <span> Submit </span>
      <span class="icon"> 🚀 </span> -->
    </button>
  </p>
</form>
